.App {
  text-align: center;
  background-color: #FFECDC;
}

.App-logo {
  height: 15vmin;
  pointer-events: none;
  margin-top: 40px;
}

.App-header {
  min-height: 100vh;
  color: #400101;
}

.App-header p{
  font-weight: bolder;
  font-size: 30px;
}

.Check-App{
  display: flex;
  justify-content: space-evenly;
  font-size: 20px;
  font-weight: lighter;
}

.Check-App input{
  border:solid #400101;
  cursor: pointer;
}

.Input-App input{
  border-style: none;
  border: solid 1px #400101;
  height: 40px;
  width: 300px;
  font-size: 15px;
}

.Input-App{
  padding: 15px;
}